body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 0;
    margin-left: 20px;
    min-height: 100vh;
    margin: 0; 
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  * {
    box-sizing: border-box;
}
  .header {
      background-color: #fff2e1;
}

  .nav-link {
      color: #d8205e;
      font-size: 20px;
      padding: 10px;
      text-decoration: none;
      transition: .3s;
}

  .nav-item a:hover {
    color: #ffffff;
    background-color: #d8205e;
}
  .header-container {
    max-width: 1440px;
    margin: 0 auto;
}
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
}
  .section {
  width: calc(50% - 20px);
  padding-top: 10px;
  padding-bottom: 0px!important;;
  border-style: none!important;
  justify-content: start;
}

.section-profile-logo {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 10px 100px;
    object-fit: cover;
}
.section-profile {
    display: flex;
    width: 50%;
    margin: auto 100px;
    margin-bottom: 20px;  
    justify-content: baseline;
}
.section-profile-title {
    display: flex;
    width: calc(50% - 20px);
    flex-direction: column;
    justify-content: start;
    align-content: center;
    text-align: start;  
    text-transform: uppercase;
}
.section-title {  
    font-size: 28px;
    font-weight: 400;
    margin: 10px;
    padding-left: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
    border-bottom: 1px solid #d8205e;
}
.main-title {
    margin: 60px auto 0px;  
    padding-left: 0px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
    white-space: nowrap;
}
.subtitle {
        color: #5c5c5c;
        line-height: 50px;
        font-weight: 300;
        letter-spacing: 2px;
        white-space: nowrap;
        padding: 0px;
        margin: 0px;
}
html {
    scroll-behavior: smooth; 
}
.main {
    margin-bottom: auto;
}
.main-container {
    margin-top: 20px;
    border-top: 20px solid #fff2e1;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.section-list {
    margin: 0;
    padding: 0px 20px;   
}
.section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
    list-style: none;
}
.section-item::before {
    content: "";
    position: absolute;
    margin-top: 5px;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    background-size: contain;
    background-image: url(assets/ello.png);
}
.contacts-item:before {
    content: "";
    position: absolute;
    margin-top: 5px;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px; 
    background-size: contain;
    background-repeat: no-repeat;    
}
.contacts-item:nth-child(1):before {
    background-image: url("assets/loc.png");
}
.contacts-item:nth-child(2):before {
    background-image: url("assets/at.png");
}
.contacts-item:nth-child(3):before {
    background-image: url("assets/github.png");
}
.contacts-item:nth-child(4):before {
    background-image: url("assets/discord.png");
}
.contacts-item a {
    color: #d8205e;
}
.section-projects a {
    color: #d8205e;
}
.section-projects a:hover {
    color: #ffffff;
    background-color: #d8205e;
}
.contacts-item a:hover {
    color: #ffffff;
    background-color: #d8205e;
}
.footer-container a:hover {
    color: #ffffff;
    background-color: #d8205e;
}
  .section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #672f2f;
  }
  .pre {
    padding: 0;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
 
 
  
  

 